      <div class="container">    
          <div id="loginbox" class="mainbox col-md-6 col-lg-4 col-lg-offset-4 col-md-offset-3 col-sm-12 col-xm-12">                    
              <img class="img-responsive" src = "app/images/logo.png" />
              <span class="sc-login-logo-sub"><p> Get your things done </p></span>
              <div class="panel panel-info" >
                      <div class="panel-heading">
                          <div class="panel-title">Log In</div>
                      </div>     
                      <div class="panel-body" ng-controller="LoginCtrl">
                           <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12 controls"></div>
                           <form id="loginform" class="form-horizontal" name="loginForm" ng-submit="login(user)" autoComplete:on>
                               <div id="messageError" class="alert alert-invalidLogin" >  
                                      <a class="close" data-dismiss="alert">×</a>  
                                      <strong>Warning! </strong>invalid login or password.  
                                </div> 
                                <div id="sc-userName" class="input-group " ng-class="{'has-error':loginForm.username.$invalid && loginForm.username.$dirty, 'has-success':loginForm.username.$valid}">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                      <input id="login-username" type="email" class="form-control input-height" name="username" value="" placeholder="email adress" ng-model="user.username" required  >                                        
                                </div>
                                <div id="sc-pwd" class="input-group" ng-class="{'has-error':loginForm.password.$invalid && loginForm.password.$dirty, 'has-success':loginForm.password.$valid}">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                      <input id="login-password" type="password" class="form-control input-height" name="password" placeholder="password" ng-model="user.password" required>
                                </div>
                                <div class="form-group">
                                      <!-- Button -->
                                      <div class="col-sm-12 controls">
                                          <input id="btn-login" type="submit"  ng-disabled="loginForm.$invalid" class="btn btn-custom btn-lg btn-block btn-success" value="Login"/>
                                          <div id="sc-forgetPwd"><a ng-href="#/recovery_pwd">Forgot password?</a></div>
                                          <div id="sc-forgetPwd"><a ng-href="#/sign_up">Create an Account</a></div>
                                      </div>
                                 </div>
                          </form>     
                      </div>
                </div>                     
          </div>  
     </div>
           
